
.thumbnail{
  width: 100%;
  object-fit: contain;
  border: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}


.video-author,.video-status{
  display: block;
  margin: 0;
  font-size: 13px;
}

.video-prev{
  vertical-align: top;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.video-title{
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.channel-picture{
  vertical-align: top;
}

.video-info{
}

.profile-picture{
  width: 70%;
  border-radius: 100%;
}

.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}

.video-time{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: white;
  padding: 3px;
  font-family: Roboto,Arial;
  font-size: 15px;
  font-weight: 500;
}